<h1>Stocks for Purchase</h1><br />

<ul>
   <%= @stocks["companiesPriceList"].each_with_index do |stock, i| %>  <!--  call API STOCKS -->
   
   <span>Symbol: <%= stock["symbol"] %></span> | <span id ="price">Price: $<%= stock["price"] %></span> <!-- add company name to this line if we have time -->
   <!--  Get all info needed for params -->
      <%=form_tag "/transactions" do %>
         <%= number_field_tag "stock[num_of_shares]" %>
         <%= hidden_field_tag "stock[share_price]", stock["price"] %>
         <%= hidden_field_tag "stock[portfolio_id]", @portfolio_id %>
         <%= hidden_field_tag "stock[symbol]", stock["symbol"] %>
         <%= submit_tag "Buy" %>
      <%end%>
      <br />
   <%end%>
   </ul>
   
