
<h1>Stocks</h1><br />
<ul>
   <%= @stocks["companiesPriceList"].each_with_index do |stock,i| %> <!--  call API STOCKS -->
   
   <span>Company: <%=stock["symbol"]%></span> <span id ="price">Price: <%= stock["price"]%></span>
   <!--  Get all info needed for params -->
   <%=form_tag "/transactions" do %>
     <input id="stock_id" name="stock[stock_id]" type="hidden" value=<%=i%> />
     <%=number_field_tag "stock[num_of_shares]", in: 1..1000%>
     <%=hidden_field_tag 'stock[share_price]', stock["price"]%>
     <%=submit_tag "Buy"%>
     <%end%>
        <br>
   <%end%>
   </ul>
   
