<div class="main">
<h1>Stocks for Purchase</h1>
<h3>Available Cash to Invest: <%= number_to_currency(@logged_in_user.balance) %></h3>
<hr>

<%= link_to @logged_in_user.full_name, user_path(@logged_in_user) %> <!-- link back to user's page -->

<% if flash[:message] %>
   <%= flash[:message] %> --> <%= link_to @logged_in_user.full_name, user_path(@logged_in_user) %>
<% end %>

<ul>
   <% @stocks["companiesPriceList"].each_with_index do |stock, i| %>  <!--  call API STOCKS -->
   <!-- in the future add company name here -->
   <span>Symbol: <%= stock["symbol"] %></span> | <span id ="price">Price: $<%= stock["price"] %></span> <!-- add company name to this line if we have time -->
   <!--  Get all info needed for params -->
      <%= form_tag "/transactions" do %>
         <%= number_field_tag "stock[num_of_shares]", "", class: "input" %>
         <%= hidden_field_tag "stock[share_price]", stock["price"] %>
         <%= hidden_field_tag "stock[portfolio_id]", @portfolio_id %>
         <%= hidden_field_tag "stock[symbol]", stock["symbol"] %>
         <%= submit_tag "Buy", class: "btn btn-success" %>
      <%end%>
      <br />
   <%end%>
   </ul>
</div>
   
