<div class="main">
<h1> Welcome to Cabbage 🥬 <%= @logged_in_user.full_name %>!</h1><br />

<h3>Available Cash to Invest: <%= number_to_currency(@logged_in_user.balance) %></h3>
<h3>Invested in All Portfolios: <%= number_to_currency(@logged_in_user.all_portfolios_balance) %></h3>
<h3>Total Balance: <%= number_to_currency(@logged_in_user.balance + @logged_in_user.all_portfolios_balance) %></h3>
<hr>

<!-- these buttons inc/decrement @user.balance attribute -->
<%= form_tag user_path, method: "patch" do %>
    <%= number_field_tag "add_cash" %>
    <%= submit_tag "Add Cash" %><br />
<% end %>

<%= form_tag user_path, method: "patch" do %>
    <%= number_field_tag "withdraw_cash" %>
    <%= submit_tag "Withdraw Cash" %><br />
<% end %>
<hr>

<div class="portfolio-parent">
    <h3>Portfolios:</h3>
    <h2>Ca$h Invested: <%= number_to_currency(@logged_in_user.all_portfolios_balance) %></h2>
    
    <div class="portfolios-list">
        <% @logged_in_user.portfolios.each do |portfolio| %>
            <div class="each-portfolio"> 
                <div>Portfolio: <%= link_to portfolio.title, portfolio_path(portfolio) %></div> <div><%= number_to_currency(portfolio.portfolio_balance) %></div>
            </div>
        <% end %>
    </div>
    
    <%= link_to("Create A New Portfolio", new_portfolio_path) %> <!-- need to css style as a button -->
</div>

<div class="sign-out-btn">
    <%= button_to("Log Out", root_path, method: "delete") %>
</div>
</div>
