<head>
    <style>
        body { 
            background-image: url("https://bit.ly/34RXu4C");
            color: white; 
        }
        .welcome {
            margin: 100px 500px;
        }

        h1 {
            padding: 0px 0px 20px 0px;
            font-family: 'Syncopate', sans-serif;
            font-size: 70px;
        }
    </style>
</head>

<div class="welcome">
<h1>Welcome to Cabbage</h1>

<% if flash[:message] %>
    <h2><%= flash[:message] %></h2>
<% end %>

<%= form_tag login_path do %>            
    <h3><%= text_field_tag(:username, "", placeholder: "Username", class: "input") %></h3>
    
    <h3><%= password_field_tag(:password, "", placeholder: "Password", class: "input") %></h3>

    <%= submit_tag "Log In", class: "input" %>
<% end %>
<br />

<div class="btn btn-light">
    <%= link_to("Sign Up", new_user_path) %></h3>  
<div>
</div>