<head>
    <style>
        body { 
            background-image: url("https://bit.ly/34RXu4C");
            color: white; 
        }
        .welcome {
            margin: 200px 500px;
        }
    </style>
</head>
<div class="welcome">
<h1>Welcome to Cabbage</h1>

<% if flash[:message] %>
    <h2><%= flash[:message] %></h2>
<% end %>

<%= form_tag login_path do %>                      
    <h3>Username: <%= text_field_tag(:username) %></h3>
    
    <h3>Password: <%= password_field_tag(:password) %></h3>
    
    <%= submit_tag "Log In" %>
<% end %>

<h4>or</h4><br />

<%= link_to("Sign Up", new_user_path) %></h3>  
</div>